/* ____________nav-part  */
.nav-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: #3E3E3E;
}
.nav-all-link{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #3E3E3E;
}
.btn-button{
    background-color: rgb(255, 255, 255);
    color: #3F87F5;
    border: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
/* nav-part______________  */

/* ________main section________  */
/* memorable moment  */
.m-m{
    margin-top: 100px;
    margin-bottom: 100px;
}
.m-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 38px;
    color: #0A0826;
}
.m-button{
    background-color: #3F87F5;
    border: none;
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-top: 20px;
}
.sign{
    margin-left: 10px;
}
/* memorable moment  */

/* packages  */
.package{
    padding: 40px;
}
.package-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 38px;
    color: #0A0826;
    margin-bottom: 100px;
}
.p-pricing{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #231D4F;
    margin-bottom: 20px;
}
.p-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: #231D4F;
    margin-bottom: 15px;
}
.p-info{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #848199;
    margin-bottom: 13px;
    margin-bottom: 10px;
}
.p-offers{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #848199;
}
.fa-check{
    color: #848199;
}
.p-button{
    font-family: 'Roboto', sans-serif;
    background-color: rgba(244, 150, 209, 0.1);
    border-radius: 24px;
    height: 45px;
    width: 207px;
    border: none;
    margin-top: 14px;
    margin-bottom: 40px;

}
.p-b-text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #3F87F5;
}

/* packages  */
/* ________main section________  */